#msgs {
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.msg {
  margin: 5px 0;
  padding: 3px 7px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  &.from {
    align-self: flex-end;
    background-color: $primary !important;
    color: white !important;
  }
  &.to {
    align-self: flex-start;
    &::before {
      right: inherit;
      left: -20px;
    }
    &::after {
      right: inherit;
      left: -35px;
    }
  }
  &.typing {
    color: silver;
  }
}

.auto-replies{
  display: none;
}